body{
  display: block;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background: url('https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/double-bubble-dark.png');
}

#title{
  color: #FFF;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

#description{
  color: #FFF;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

#survey-form{
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
}

#survey-form label{
  display: block;
  font-weight: 600;
  margin: 15px 0px 3px 0px;
  font-size: 16px;
}

#survey-form input,
#survey-form select,
#survey-form textarea{
  display: block;
  width: 100%;
  margin: 0px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #CCC;
  font-size: 14px;
}

#survey-form .input-radio,
#survey-form .input-checkbox{
  display: inline-block !important;
  width: auto !important;
}

#submit{
  display: block;
  width: 100%;
  margin: 20px 0px 10px 0px;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#submit:hover{
  background-color: #EEE;
}
